<div class="container mt-5">
 {{#if Task._id}}
    <h1 class="text-center  text-info py-3">Edit Task</h1>
  {{else}}
    <h1 class="text-center text-info py-3">Add Task</h1>
  {{/if}}
<form action="/save" method="post">
  <input type="hidden" name="id" value="{{Task._id}}" />
  <div class="row mt-3">
    <div class="col-md-2">
      <label>Name:</label>
    </div>
    <div class="col-md-10">
      <input type="text" class="form-control" name="name" value="{{Task.name}}">
      <div class="text-danger">{{Task.error1}}</div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-2">
      <label>Task Title:</label>
    </div>
    <div class="col-md-10">
      <input type="text" class="form-control" name="title" value="{{Task.title}}">
      <div class="text-danger">{{Task.error2}}</div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-2">
      <label>Duration:</label>
    </div>
    <div class="col-md-10">
      <input type="text" class="form-control" name="duration" value="{{Task.duration}}">
      <div class="text-danger">{{Task.error3}}</div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-2">
      <label>Task Description:</label>
    </div>
    <div class="col-md-10">
      <textarea class="form-control" rows="5" name="description">{{Task.description}}</textarea>
      <div class="text-danger">{{Task.error4}}</div>
    </div>
  </div>
  <div class="text-center mt-3">
    <button type="submit" class="btn btn-info button">Submit</button>
  </div>
</form>
</div>